---
projects:
  - image: img/past_projects/5.jpeg
    title: Health Poverty Action
    blurb: >
      Contributions secured towards 
      <a href="http://www.healthpovertyaction.org/on-the-ground/africa/sierra-leone/improving-maternal-health/">
      an ongoing program to improve Maternal Health</a> in northern Bombabli, a rural area of in Sierra Leone 
      which has some of the highest infant and maternal mortality rates in the country.
  
  - image: img/past_projects/6.jpeg
    title: Project pencil case, Ethiopia
    blurb: >
      <a href="http://projectpencilcase.org/">Project Pencil Case</a> is a Small NGO in Addis Abbaba. Initially
      granted funds to help provide basic school equipment for students in Addis Ababa and now receiving ongoing 
      support towards their work with vocational training for young women.

  - image: img/past_projects/7.jpeg
    title: Lovin' Spoonfuls
    blurb: >
      Lovin’ spoonfuls,  based in Boston Masschusetts, rescues healthy fresh food that would otherwise be discarded 
      and delivers it to community organisations and resources where it can have the greatest impact, feeding the 
      people who need it.</p><p>They were awarded a grant from one of our funders towards the purchase of their new
      distribution van.
        
 - image: img/past_projects/Dcat.jpeg
    title: Dreidl
    blurb: >
      He is very nice. 
  
---
        
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Past Projects</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Amanaska-->
    <link href="css/amanaska.css" rel="stylesheet">
    <!-- Carousel-->
    <link href="css/carousel.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- page contents -->
    <div class="container-fluid">
      <!-- top row -->
      <div class="row">
        <!-- past projects image -->
        <div class="col-md-12">
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              {% for project in page.projects %}
              <div class="item {% if forloop.first %}active{% endif %}">
                <img src="{{ project.image }}" class="img-responsive">
                <div class="carousel-caption">
                  <h3>{{ project.title }}</h3>
                  <p>{{ project.blurb }}</p>
                </div>
              </div>
              {% endfor %}
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
              <img class="carousel-button" src="img/carousel-left-button.png" />
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
              <img class="carousel-button"  src="img/carousel-right-button.png" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-default navbar-bottom">
      <div class="container-fluid">
        <div class="col-md-3">
          <p class="h4 text-center">Philanthropic Advisory Services</p>
          <p class="h5 text-center"><a href="funders.html#grant_management" class="navbar-link">Grant Management</a></p>
          <p class="h5 text-center"><a href="funders.html#monitoring_reporting" class="navbar-link">Monitoring and Reporting</a></p>
          <p class="h5 text-center"><a href="funders.html#anonymous_giving" class="navbar-link">Anonymous Giving</a></p>
        </div>
        <div class="col-md-3">
          <p class="h4 text-center">For Fundraisers</p>
          <p class="h5 text-center"><a href="fundraisers.html#guidelines" class="navbar-link">Guidelines</a></p>
          <p class="h5 text-center"><a href="contact.html" class="navbar-link">Initial Contact Form</a></p>
        </div>
        <div class="col-md-3">
          <p class="h4 text-center">Our Work</p>
          <p class="h5 text-center"><a href="past-projects.html" class="navbar-link">Recent Projects</p>
          <p class="h5 text-center"><a href="#pp1" class="navbar-link" onclick="javascript: alert('not implemented yet'); return false;">Contact</p>
        </div>
        <div class="col-md-3">
          <a href="/index.html">
            <img src="img/logo-transparent-110x96.png" class="img-responsive" />
          </a>
        </div>
      </div>
    </nav>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
